
<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="copyright">
            This website is not affiliated with Steam or Valve
            <br>
            <a href="https://templated.co/projection">CSS design by TEMPLATED</a>
            <br>
            <a href="https://github.com/TwelfthGhast/SteamPR-Frontend">Find this project on Github</a>
            <br>
            <a href="/12ghast">&copy; 12Ghast 2019</a>
        </div>

    </div>
</footer>
<!-- Scripts -->
<script type="application/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
