<!doctype html>
<html>
<head>
    <title>SteamPR - Ladder</title>
    {% include 'head.html' %}
</head>
<body class="subpage">
{%  include 'header.html' %}
<section id="main" class="wrapper">
<div class="inner">
<div class="12u 12u$(medium)">
<header class="align-center">
    <h2>SteamPR Ladder</h2>
    <p>Top 200 players by PageRank weighting</p>
</header>
<table>
    <tr>
        <th>Rank</th>
        <th>SteamID64</th>
        <th>Level</th>
        <th>PageRank</th>
    </tr>
    {% for account in in_rank.response %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="/profiles/{{ account.steamid }}">{{ account.steamid }}</a></td>
            <td>{{ account.level }}</td>
            <td>{{ account.weighting }}</td>
        </tr>
    {% endfor %}
</table>
</div>
</div>
</section>
{% include 'footer.html' %}
</body>
</html>
