<!doctype html>
<html>
<head>
    <title>SteamPR - {{ in_account.response.players.0.personaname }}</title>
    {% include 'head.html' %}
    <meta name="description" content="Learn more about the account '{{ in_account.response.players.0.personaname }}' with SteamID64 of {{ in_account.response.players.0.steamid }}. Check level history, friends and more!">
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', 'Year');
        dataTable.addColumn('number', 'Sales');
        // A column for custom tooltip content
        dataTable.addColumn({type: 'string', role: 'tooltip'});
        dataTable.addRows([
            {{ in_chart | safe }}
        ]);


        var options = {
          title: 'Steam Level Over Time',
          tooltip: {isHtml: true},
          legend: 'none',
          hAxis: { title: 'Number of months in the past' },
          vAxis: { title: 'Steam Level' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(dataTable, options);
      }
    </script>
</head>
<body class="subpage">
<section id="main" class="wrapper">
<div class="inner">
{%  include 'header.html' %}
<div style="text-align: center">{% include 'searchbar.html' %}</div>
<div class="row">
<div class="6u 12u$(small)">
<div id="player_image">
    <img id="player_image_full" src="{{ in_account.response.players.0.avatarfull }}">
</div>
<table id="player_table">
    <tr>
        <th>Name:</th>
        <td>{{ in_account.response.players.0.personaname }}</td>
    </tr>
    <tr>
        <th>SteamID64:</th>
        <td><a href="https://steamcommunity.com/profiles/{{ in_account.response.players.0.steamid }}">https://steamcommunity.com/profiles/{{ in_account.response.players.0.steamid }}/</a>
        </td>
    </tr>
    <tr>
        <th>Profile URL:</th>
        <td>
            <a href="{{ in_account.response.players.0.profileurl }}">{{ in_account.response.players.0.profileurl }}</a>
        </td>
    </tr>
    {% if in_account.response.players.0.communityvisibilitystate != 3 %}
        <tr>
            <th>Profile Status:</th>
            <td>PRIVATE</td>
        </tr>
    {% else %}
        <tr>
            <th>Account Age:</th>
            <td>{{ in_age }} years</td>
        </tr>
        <tr>
            <th>Steam Level:</th>
            {% if in_friends.level %}
                <td>{{ in_friends.level }}</td>
            {% else %}
                <td>{{ in_badges.player_level }}</td>
            {% endif %}
        </tr>
    {% endif %}
</table>
<div id="curve_chart" style="width: 100%; height: 500px"></div>
<table>
    {%  if in_rank.playerlevel %}
        <tr>
            {% if in_account.response.players.0.communityvisibilitystate == 3 %}
                <th> Steam Level</th>
            {% else %}
                <th> Assumed Steam Level </th>
            {% endif %}
            <td> {{ in_rank.playerlevel }} </td>
        </tr>
        <tr>
            <th> Ranking for level {{ in_rank.playerlevel }} </th>
            <td> {{ in_rank.ranklevel }} / {{ in_rank.samelevel }}</td>
        </tr>
        <tr>
            <th> Ranked percentile across all accounts</th>
            <td> In the top {{ in_rank.overallpercentile }}% </td>
        </tr>
    {% else %}
        <tr>
            <th>Account not in SteamPR Database</th>
            <td>No ranking information available</td>
        </tr>
    {% endif %}
</table>
</div>
<div class="6u$ 12u$(small)">
<!-- For some reason https://steamcommunity.com/id/minhvb1210/ or 76561198205078375 is returning a community state of 3 (public) despite being a private profile? -->
{% if in_account.response.players.0.communityvisibilitystate != 10 %}
    <h3> Friends Search </h3>
    {% if in_friends.friends %}
        <table>
            <tr>
                <th>Friend's SteamID64</th>
                <th>Friends since:</th>
            </tr>
            {% for friend in in_friends.friends %}
                <tr>
                    <td><a href="/profiles/{{ friend.steamid }}">{{ friend.steamid }}</a></td>
                    {% if friend.friend_since != 0 %}
                        <td> {{ friend.friend_since | convertepoch }}</td>
                    {% else %}
                        <td> Unknown</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
    {% else %}
        <h4>Seems like {{ in_account.response.players.0.personaname }} has no friends :(</h4>
    {% endif %}
{% endif %}
</div>
</div>
</div>
</section>
<div id="footer">{% include 'footer.html' %}</div>
</body>
</html>
